
<div class="container">

  <div class="content_box">

    <h3>Admin Interface</h3>

    <h4>Pleasw enter your admin password</h4>

    <%= form_tag adminlogin_url, method: 'get' do %>

    <%= password_field_tag :password %>

    <br>
    <br>


    <%= button_tag "Enter as admin", class: "btn btn-danger btn-xs" %>

    <% end %>

  </div>

</div>


