<div id="cta_landing">


 <div class="col-md-12" id="logo_landing">

     <img src="http://i.imgur.com/Lryw4Jp.png" title="Hosted by imgur.com" width="250px" />

  </div>


  <div class="row" id="headline_landing">

          <!--   <h1>Play hard. Plan easy.</h1> -->
            <h2>Organize your next match in 3 easy steps.</h2>

  </div>


</div>













  <div class="row feature_section">

     <div class="container">

       <h2 class ="landing_head">Your serve. Here is what you do.</h2 class ="landing_head">


       <div class="col-md-4 feature_list">

           <i class="fa fa-file-text-o fa-lg"></i>

           <h3>Step 1</h3>
           <h4>Enter your personal information.</h4>

       </div>

       <div class="col-md-4 feature_list">

           <i class="fa fa-calendar fa-lg"></i>

           <h3>Step 2</h3>
           <h4>Setup match details. Date, Time, Location.</h4>

       </div>

       <div class="col-md-4 feature_list">

           <i class="fa fa-group fa-lg"></i>

           <h3>Step 3</h3>
           <h4>Invite up to 5 friends.</h4>

       </div>

    </div>

</div>





<!--  <div class="row">
  <div class="col-md-12 row_break">
  </div>


 </div> -->







  <div class="row feature_section">

    <div class="container">

        <h2 class ="landing_head">Our return. Here is what we do.</h2>




    <div class="col-md-4 feature_list">

        <i class="fa fa-envelope fa-lg"></i>

        <h3>Email Invitation</h3>
        <h4>We send your friends an email with all match details.</h4>

    </div>

    <div class="col-md-4 feature_list">

        <i class="fa fa-check-square fa-lg"></i>

        <h3>First come. First Serve.</h3>
        <h4>Literally. Just wait until the first one confirms.</h4>

    </div>

    <div class="col-md-4 feature_list">

        <i class="fa fa-mobile fa-lg"></i>

        <h3>Text message</h3>
        <h4>We notify you about your match.</h4>

    </div>



    </div>

  </div>  <!-- END OF INNER ROW2 -->



 <div class="row feature_section">

    <div class="container">

        <h2 class ="landing_head">Play hard. Plan Easy.</h2>




    <div class="col-md-12 feature_list">

        <i class="fa fa-heart fa-lg"></i>

        <h3>You're set.</h3>
        <h4>Just show up at the court and enjoy your match.</h4>

    </div>

    <div class="row" id="cta_landing_button">


      <button class="btn btn-default btn-lg" >

        <%= link_to "You got me. I want to try it.", new_user_url, class: "landing_link" %>



      </button>



    </div>





    </div>

  </div>  <!-- END OF INNER ROW2 -->

















