

 <div class="col-md-12" id="logo_landing">

     <img src="http://i.imgur.com/Lryw4Jp.png" title="Hosted by imgur.com" width="250px" />

  </div>

  <div class="row" id="headline_landing">

    <h1>Play hard. Plan easy.</h1>
    <h2>Organize your next match in 3 easy steps.</h2>

  </div>



