<div class="container">

  <div class="content_box">

    <h4><%= @host.name %> wants to play Tennis and looks for a partner like you.</h4>

    <h4>Your are just 2 steps away from having a nice match with <%= @host.name %> on <%= @game.date.strftime("%d. %B %Y") %> at <%= @game.time.strftime("%H:%M") %></h4>

  <div class="row">

    <div class="col-md-4">

      <h4>Step1</h4>

    </div>

    <div class="col-md-4">

      <h4>Step2</h4>

    </div>

    <div class="col-md-4">

      <h4>Step3</h4>

    </div>


  </div>

  </div>


</div>
