/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_yeti
 *= require jquery.ui.datepicker
 *= require jquery.timepicker
 *= require_tree .
 */

body {
  padding-top: 150px;
 /* background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAP0lEQVQYV2NkYGD4D8QgwAil0SmwPEiSaIUwE0Aa0E2Fi+GUgNoEl8fmLqxOIVshsjtR3IxsIkHPEB08RCkEAGr1Egd7c7TnAAAAAElFTkSuQmCC) repeat;*/
}

.well {
  width: 50%;
}


/*#test {
  background-color: green;
}*/


