/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_yeti
 *= require jquery.ui.datepicker
 *= require jquery.timepicker
 *= require fancybox
 *= require_tree .
 */

body {
  padding-top: 150px;
 /* background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAP0lEQVQYV2NkYGD4D8QgwAil0SmwPEiSaIUwE0Aa0E2Fi+GUgNoEl8fmLqxOIVshsjtR3IxsIkHPEB08RCkEAGr1Egd7c7TnAAAAAElFTkSuQmCC) repeat;*/
background-image:url('http://farm4.staticflickr.com/3823/11325645825_e3f11b0db9_o.jpg');
background-position: cover;
background-attachment: fixed;
/*background-size: 100% auto;*/
background-repeat: no-repeat;
}

h3 {
  margin: 15px 0px 15px 0px;
}

.well {
  width: 50%;
}

.nav_link_self {
  padding-top: 15px;
}

#lightbox {
  width: 400px;
}

a.fancybox-item.fancybox-close:hover{
  background-color: rgba(255,255,255,0.0);
}

/*.navbar-default {
  background-color: black;
  border-color: black;
}*/

label {
  font-weight: bold;
}


/*#test {
  background-color: green;
}*/


.content_box {
  background-color: rgba(255,255,255,0.6);
  padding: 30px;
}

table {
  background-color: rgba(255,255,255,1.0);
}

.success {
  background-color: #1fc17b;
}

td {
  font-weight: bold;
}

.fa-check-circle-o {
  color: green;
}

.fa-clock-o {
  color: blue;
}

.actions {
  margin-top: 10px;
}





/*.fa-li {
position: relative;
left: 0;
}*/

